@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

html, body { background: white ; }

.slides {
    padding: 0;
    width:100% ;
    height: 100vh;
    display: block;
    margin: 0 auto;
    position: relative;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slides input { display: none; }

.slide-container { display: block; }

.slide {
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    transform: scale(0);
    transition: all .7s ease-in-out;
}

.slide img {
    width: 24%;
    height: 42%;
    margin: 3% 38% 0 38%;
    border: groove;
    border-radius: 100000em;
    box-shadow: 2px 2px 5px black;
}

.slide h1 {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    width: 50%;
    margin: 1% 25% 0 25%;
}
.slide p {
    font-family: "Open Sans", sans-serif;
    text-align: left;
    width: 50%;
    font-size: 1.3em;
    margin: 1% 25% 0 40%;
}

.slide h1 em {
    font-family: serif;
}


.nav label {
    width: 30%;
    height: 100%;
    display: none;
    position: absolute;
	opacity: 0;
    z-index: 9;
    cursor: pointer;
    transition: opacity .2s;
    color: #fff;
    font-size: 200pt;
    text-align: center;
    line-height: 2em;
    font-family: "Varela Round", sans-serif;
    background-color: rgba(0, 0, 0, 0.1) ;
    text-shadow: 0px 0px 15px grey;
}

.slide:hover + .nav label { opacity: 0.5; }

.nav label:hover { opacity: 1; }

.nav .next { right: 0; }

input:checked + .slide-container  .slide {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label { display: block; }

.footer-social-icons {
    bottom: 9px;
    width: 20%;
    display:block;
    margin-left:40%;
    margin-right: 40%;
    margin-top: 6vh;
}
.social-icon {
    color: #fff;
}
ul.social-icons {
    margin-top: 10px;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 90vh;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}
.fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-facebook:hover {
    background-color: #3d5b99;
}
.fa-twitter {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-twitter:hover {
    background-color: #00aced;
}

.fa-envelope {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-envelope:hover {
    background-color: #e64a41;
}
.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-linkedin:hover {
    background-color: #0073a4;
}
